@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Team";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="justify-content-between">
        <h2 class="text-dark text-center alert-heading">
            Our Team
        </h2>
        <br />
    </div>
    <div>
        <h3 class="text-dark text-center alert-heading">Mentors</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Amit Kumar</h5>
                        <p class="card-text">Associate Director</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Ashish Garg</h5>
                        <p class="card-text">Technical Manager</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Vishal Shrivastava</h5>
                        <p class="card-text">Technical Manager</p>
                    </div>
                </div>
            </div>

        </div>

        <br />

        <h3 class="text-dark text-center alert-heading">Team Members</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Karthikeyan A S</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Disha Arvind Patel</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Rachit Talwar</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Nitika Rawat</h5>
                        <p class="card-text">Trainee</p>
                    </div>
                </div>
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Mohd Unaib</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Sushil Kumar</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Shubham Priyadarshi</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Vicky Chauhan</h5>
                        <p class="card-text">Trainee</p>
                    </div>
                </div>
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Parth Mehra</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Vineeth Goditi</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Mysore Alekhya</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Vaibhav Gulati</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Yash Goyal</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Shreya Kirtankar</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Pulkit Agarwal</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic">
                    <div class="card-body">
                        <h5 class="card-title">Rahul Bhardwaj</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>

        </div>

        <br />

        <div class="row  justify-content-md-center">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/img/dummy-profile-pic.jpg" class="card-img-top" alt="Dummy Profile Pic" />
                    <div class="card-body">
                        <h5 class="card-title">Shrey Thapar</h5>
                        <p class="card-text">Software Engineer Trainee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>