<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #0096ff;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Octavius</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse  justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <span class="nav-link text-dark" style="color:black">@Html.ActionLink("Home", "Index", "Home")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark"> @Html.ActionLink("About", "About", "Home")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("Privacy", "Privacy", "Home")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("Team", "Team", "Home")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("KOL", "Index", "kol_table")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("Degree", "Index", "degree_master_table")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("KOL Degree Map", "Index", "kol_degree_map_table")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("KOL Degree Spec", "Index", "Kol_With_Degree")</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-dark">@Html.ActionLink("KOL Image", "Index", "KOL_Image")</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
