@model Octavius_Business_Rules.Models.ThoughtLeaderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThoughtLeaderModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCommercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCommercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMedical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMedical)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ThoughtLeaderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
