@model Incedo_Octavius_Demo_2.Models.KOL_With_Degree

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KOL_With_Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialtyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialtyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FirstName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
