@model IEnumerable<Incedo_Octavius_Demo_2.Models.KOL_With_Degree>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialtyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DegreeID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Degree)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SpecialtyID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SpecialityName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.FirstName }) |
        @Html.ActionLink("Details", "Details", new { id = item.FirstName }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.FirstName })
    </td>
</tr>
}

</table>
