@model Incedo_Octavius_Demo_2.Models.BusinessUserDegreeModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@ViewBag.msg

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BusinessUserDegreeModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Degree_Map, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Degree_Map, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Degree_Map, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                
            @Html.LabelFor(model => model.Degree_Master, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Degree_Master, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.Parent_Degree_ID, ViewBag.DegreeListItem as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Degree_Master, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
